[submodule "sources/arm"]
	path = sources/arm
	url = https://github.com/simplegapps/arm.git
[submodule "sources/arm64"]
	path = sources/arm64
	url = https://github.com/simplegapps/arm64.git
[submodule "sources/x86"]
	path = sources/x86
	url = https://github.com/simplegapps/x86.git
[submodule "sources/x86_64"]
	path = sources/x86_64
	url = https://github.com/simplegapps/x86_64.git
[submodule "sources/common"]
	path = sources/common
	url = https://github.com/simplegapps/common.git
